body{
    margin: 0;
    padding: 0;
    width: 100%;
    #root{
        width: 100%;
        height: 100vh;
    }
    button{
            width: 300px;
            padding: 20px 30px;
            background-color: #5c64ff;
        }
    p{
        font-size: 19px;
        }
    h1{
        font-size: 40px;
        color: white;
        text-align: center;
        margin: 70px;
        text-shadow: #000000 2px 2px 3px;
    }
    header{
        font-size: 30px;
        background-color: #292929;
        .navbar{
            display: flex;
            justify-content: space-between;
            padding: 15px 20px;
        }
        nav{
            display: flex;
            gap: 30px;
        }
    }
    div{
        .card-container{
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        padding-bottom: 100px;
        }
        .card{
            background-color: rgb(53, 53, 53);
            box-shadow: #5c64ff 0px 4px 3px 3px;
            width: 22%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5%;
            height: auto;
            img{
                width: 200px;
                border-radius: 10%;
            }
            button{
                margin: 10px 0;
                padding: 10px 20px;
                background-color: #5c64ff;
            }
        }
        
    }
    .item-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
        img{
            width: 300px;
            border-radius: 10%;
        }
        button{
            width: 300px;
            padding: 20px 30px;
            background-color: #5c64ff;
        }

    }
    
}